<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/stylel.css">
    <title>Oops</title>
</head>
<body>
    <section>
        <div class="center" style="text-align: center;">
            <p style="font-size: 20rem; color : #fff">404</p>
            <p style="font-size: 3rem; color : #fff">Page Not Found</p>
        </div>
    </section>
</body>
</html>