<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/stylel.css">
    <title>Get Key</title>
</head>
<body>
    <style>

@media only screen and (max-width: 550px) {
.main-box{
        width : 100%;
        border-radius: 0;
}}
    </style>
    <section>
       <a href="/"><img src="img/arrow.png" alt="arrow" style="position: absolute; height:1.7rem; margin:0.5rem 0.7rem"></a>
        <div class="main-box center" style="text-align: center;">
            <div style="margin:15% 2rem 21%;">
                <h2 style="text-align: left;">How do I get a submission key?</h2>
                <br>
                <p style="width: 90%; text-align: left;">In order to provide the best user experience for our members, we have created this web application to only support the submission option.
                <br>Submission keys are used to determine how to distribute points and who submitted the output.
                <br>You can find your key in the verification email sent to you after registration.
                <br>If you have not yet registered, please use our mobile application to complete the process.</p>
            </div>
            <div class="center" style="text-align: center; top:90%;">
                <p style="opacity:0.5">If you already have a Key</p>
                <div style="height: 10px;"></div>
                <a href="/Search/:0" style="text-decoration: none; color:#3e52e7">Submission</a>
            </div>
        </div>
    </section>
</body>
</html>