<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hash App</title>
</head>
<body>
    <section>
        <div class="navbar">
            <div class="item1" style="position: relative;">
                <a href="/" style="height : inherit; position:absolute; left:3rem;"><img style="height : inherit;"src="img/hashapp.png" alt="hashapp"></a>
            </div>
            <div class="item2">
                <div class="CV second" style="right : 17rem;"><a href="/About">About Us</a></div>
                <div class="CV second" style = "right : 11.5rem;"><a href="/GetKey">Get Key</a></div>
                <div class="CV first" ><a href="/Search/:0" id="login">Submission</a></div>
            </div>
        </div >
        
        
        <div style=" position: relative;height:100%;width: 100vw;">
            <div class="CV two-main" style="left:3rem;">
                <p style="font-size: 54px; font-family: 'Product_sans_bold';">A new way to learn</p>
                </br>
                <p style="opacity: 0.67;font-size: 24px;">This Platform is a support for the hashApp</br>mobile application that allows our members</br>to submit and verify their solutions</p>
            </div>
            <div class = "CV two-main" style="right:0; text-align: center;">
            <div>
                <a href="#" class="icon leftdiv"><img src="img/linkedin.png" alt="" style = "height: 50px;"></a>
                <a href="#" class="icon leftdiv"><img src="img/github.png" alt="" style = "height: 50px;"></a>
                <a href="#" class="icon leftdiv"><img src="img/facebook.png" alt="" style = "height: 50px;"></a>
            </div>
            <div style="height:3rem;"></div>
            <div class="leftdiv">
                    <a class="let" href="/Search/:0">LET'S START</a>
            </div>
            </div>
        </div>


        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
    </section>
</body>
</html>