<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/stylel.css">
    <title>Wrong Answer</title>
</head>
<body>
    <section>
       <a href="/Submission/:0"><img src="/img/arrow.png" alt="arrow" style="position: absolute; height:1.7rem; margin:0.5rem 0.7rem"></a>
        <div class="main-box center" style="text-align: center;">
            
            
            <div style="margin: 3rem 2rem;">
                <img src="/img/false.png" alt="cong" style="height: 14rem;" >
                <br>
                <br>
                <p style="width: 90%;display: inline;">Oops,<span style="font-family: 'Product_sans_bold';"> Bad news!</span>. You got a Wrong Answer.</p>
                <div style="height : 8px"></div>
                <p style="width: 80%;display: inline-block;">Rereading the problem statement may help!</p>
            </div>
        </div>
    </section>
</body>
</html>