
/* nav bar */
section .navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}
section .navbar > div {
  height: 65px;
}
section .navbar > .item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
section .navbar > .item2 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
}
.first {
  right: 3rem;
  padding-left: 0.5rem;
  border-left: solid #fcfcfc 1px;
  transition: border-left-color 0.3s ease;
}
#login {
  padding: 0.5rem 1rem;
  transition: 0.3s ease;
}
.first:hover {
  border-left-color: rgba(0, 0, 0, 0);
}
.first:hover > #login {
  background-color: #fcfcfc;
  color: #3a56c7;
}
.second {
  opacity: 0.67;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.second:hover {
  opacity: 1;
}
/* main body*/

.CV {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.two-main {
  width: 50%;
  top: 37%;
}
a {
  text-decoration: none;
  color: #fcfcfc;
}
.icon {
  display: inline-block;
  margin: 1rem;
}
.let {
  padding: 1rem 3rem;
  background-color: #fcfcfc;
  color: #3a56c7;
  font-family: "Product_sans";
  font-size: 20px;
  border-radius: 50px;
  letter-spacing: 1px;
}
.leftdiv {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.leftdiv:hover {
  opacity: 0.67;
}
/* bottom waves */
section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-image: url(./wave1.png);
  background-size: 1000px 100px;
}
section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 100;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 99;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 98;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .wave.wave4 {
  animation: animate2 15s linear infinite;
  z-index: 97;
  opacity: 0.7;
  animation-delay: -3s;
  bottom: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
