<class class="grid-item item1 shadow">
    <a href="/"><img style="height : 5rem; margin-top:1rem;"src="/img/hashapp.png" alt="hashapp"></a>
    <h1 style="margin-bottom: 3rem ;">Judge System</h1>
    <div class="border"></div>
    <div style="text-align: left;">
        <p class="subtitle">System</p>
        <a class="link" href="/Search/:0" style= <%= s1 %> >INPUT DATA</a>
        <a class="link" href="/Submission/:0" style=<%=s2%> >SUBMIT</a>
        <div class="border"></div>
        <p class="subtitle">More Info</p>
        <a class="link" href="/About">ABOUT</a>
    </div>
</class>
</div>